/* regole  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.violet {
  background-color: #9692E4;
}

.red {
  background-color: red;
}

.blue {
  background-color: #0C84FB;
}

.white {
  background-color: white;
}

.container {
  width: 85%;
  max-width: 575px;
  margin: 0 auto;
}

/* Header  */

.nav {
  position: fixed;
  width: 100%;
}

.nav .container .row {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.nav .row .menu .hamburgher {
  display: none;
}

/* Main  */

/* Application  */
#application .container  {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

#application .card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #B5DDFD;
  text-align: center;
}

#application .first {
  width: 100%;
}

#application .second {
  width: 100%;
  padding-bottom: 60px;

}

#application .card h5 {
  color: #0882FB;
  font-size: 20px;
  padding: 20px 0;
}

#application .card .description {
  width: 80%;
  margin: 0 auto;
}

.first .card .image {
  width: 100%;
  height: 200px;
}

.first .card:first-child p {
  text-align: start;
}

.first .card a {
  padding: 10px 30px;
  background-color: blue;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

/* Planning  */
#planning {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

#planning .square {
  width: 100%;
  padding-top: 50px;
  /* eliminare  */
  height: 700px;
}

#planning .image {
  width: 100%;
  height: 300px;
}

#planning .bio h4 {
  color: white;
  font-size: 25px;
  padding: 50px 0;
}

#planning .bio p {
  color: white;
}

#planning .card {
  text-align: center;
}

#planning .card h4 {
  font-size: 20px;
}

#planning .card p {
  padding: 20px 0;
}

#planning .card a {
  color: black;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 13px;
  background-color: #9792E4;
  border-radius: 50%;
  border: 1px solid black;
}

#planning .card .img {
  width: 100%;
  height: 300px;
  background-color: red;
}

/* Testimonials  */
#testimonials {
  padding-bottom: 60px;
}

#testimonials .bio {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

#testimonials .bio h5 {
  font-size: 20px;
  padding: 35px 0;
}

#testimonials .bio h3 {
  font-size: 35px;
  color: #9692E4;
}

#testimonials .bio p {
  font-size: 20px;
  padding: 35px 0;
}

#testimonials .card {
  margin: 30px 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#testimonials .card .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  margin: 25px auto;
}

#testimonials .card .name p {
  font-size: 22px;
  padding-bottom: 25px;
}

#testimonials .card .name h3 {
  font-size: 25px;
}

/* Benefits  */
#benefits {
  padding-bottom: 60px;
}

#benefits h3 {
  text-align: center;
  color: white;
  font-size: 40px;
  padding: 60px 0;
}

#benefits .squares {
  width: 100%;
}

#benefits .squares .card{
  margin: 30px 0;
}

#benefits .squares .card h2 {
  color: #9692E4;
  font-size: 60px;
  padding-top: 40px;
}

#benefits .squares .card h3 {
  color: #9692E4;
  font-size: 30px;
  padding: 30px 0;
  text-align: start;
}

#benefits .squares .card p {
  font-size: 22px;
  padding-bottom: 30px;
}

#benefits .squares .card a {
  color: white;
  background-color: #9692E4;
  padding: 10px 45px;
  font-size: 22px;
  border-radius: 20px;
  text-decoration: none;
}

/* About  */

#about {
  padding: 60px 0;
}

#about .bio {
  width: 100%;
}

#about .bio h2 {
  color: #9692E4;
  font-size: 55px;
  padding-top: 20px;
}

#about .bio p {
  font-size: 22px;
  padding: 30px 0;
  line-height: 50px;
}

#about .card .img {
  width: 180px;
  height: 180px;
  background-color: grey;
  border-radius: 50%;
}

#about .card h4 {
  color: #9692E4;
  font-size: 35px;
  padding: 30px 0;
}

#about .card a {
  color: white;
  background-color: #9692E4;
  padding: 10px;
  border-radius: 20px;
  font-size: 22px;
  text-decoration: none;
}

/* Start  */

#start {
  padding: 60px 0;
}

#start .login {
  width: 100%;
  text-align: center;
}

#start .login h5 {
  font-size: 18px;
  color: #D6D5F4;
}

#start .login h4 {
  color: white;
  font-size: 35px;
  padding: 20px 0;
}

#start .login h2 {
  color: #FDC15F;
  font-size: 55px;
  padding: 35px 0;
}

#start .login p {
  color: white;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 40px;
}

#start .login .button {
  color: #9692E4;
  background-color: white;
  padding: 20px 85px;
  border-radius: 40px;
  font-size: 20px;
  text-decoration: none;
}

#start .login .privacy {
  padding: 40px 0;
  font-size: 18px;
}

/* footer  */
footer {
  background-color: #333333;
}

footer p {
  color: white;
  text-align: center;
  padding: 30px 0;
}

footer p a {
  color: #9692E4;
}

/* media query  */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  #application .first {
    display: flex;
    gap: 10px;
  }

  .first .card:first-child {
    width: 203%;
  }

  #application .second {
    display: flex;
    gap: 10px;
  }

  #application .second .card {
    width: calc(100 / 3);
  }

  #planning {
    flex-direction: row;
  }

  #benefits .squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  #benefits .squares .card {
    width: 48%;
    margin: 0;
  }

  #about .container {
    display: flex;
  }

  #about .bio {
    width: 60%;
  }

  #about .card {
    width: 250px;
  }

  #start .container {
    width: 80%;
  }

  footer .container {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 75%;
  }

  #application .card {
    flex-direction: row;
  }

  .nav .row .menu .hamburgher {
    display: block;
  }

  .nav .row .menu .list-menu {
    display: none;
  }

  .nav .row .menu .hamburgher {
    display: none;
  }

  .nav .row .menu .list-menu {
    display: none;
  }

  #planning .container {
    display: flex;
    padding: 80px 0;
    flex-direction: row;
  }

  #planning .card .container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
  }

  #testimonials .card .container {
    display: flex;
    flex-direction: row;
  }

  #benefits .squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  #benefits .squares .card {
    width: 32%;
    margin: 0;
  }

  #start .container {
    width: 50%;
  }

  footer .container {
    width: 40%;
  }

}