/* regole  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.violet {
  background-color: #9692E4;
}

.red {
  background-color: red;
}

.blue {
  background-color: #0C84FB;
}

.white {
  background-color: white;
}

.container {
  width: 85%;
  max-width: 575px;
  margin: 0 auto;
}

/* Header  */

.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav .container .row {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.nav .row .menu .hamburgher i {
  font-size: 40px;
  color: white;
}

.nav .row .menu .list-menu {
  display: none;
}

.nav .list-menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav .list-menu li a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
  font-size: 20px;
  line-height: 50px;
}

.nav .list-menu li button {
  font-size: 15px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

/* Main  */

/* Application  */
#application .container  {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  border-radius: 20px;
}

#application .card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #B5DDFD;
  text-align: center;
}

#application .first {
  width: 100%;
}

#application .second {
  width: 100%;
  padding-bottom: 60px;

}

#application .card .description {
  width: 80%;
  margin: 0 auto;
}

#application .card h5 {
  color: #0882FB;
  font-size: 30px;
  padding: 40px 0;
}

.first .card .image img {
  width: 350px;
  padding-top: 40px;
}

.first .card:first-child p {
  text-align: start;
}

.first .card a {
  padding: 10px 60px;
  background-color: blue;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

#application .card p {
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 40px;
}

.card .description .img {
  font-size: 100px;
  color: #0184FD;
  padding-top: 50px;
}

/* Planning  */
#planning {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

#planning .square {
  width: 100%;
  padding-top: 50px;
}

#planning .image img {
  width: 100%;
  padding: 40px 0;
}

#planning .bio h4 {
  color: white;
  font-size: 45px;
  padding: 60px 0;
}

#planning .bio p {
  color: white;
  padding-bottom: 60px;
  font-size: 25px;
  line-height: 40px;
}

#planning .card {
  text-align: center;
  border-radius: 60px;
}

#planning .card img {
  width: 100%;
  padding: 50px 0;
}

#planning .card h4 {
  font-size: 30px;
}

#planning .card p {
  padding: 20px 0;
  font-size: 25px;
  line-height: 40px;
}

#planning .card .arrow {
  padding-top: 30px;
  padding-bottom: 60px;
}

#planning .card a {
  color: black;
  font-size: 25px;
  text-decoration: none;
  padding: 14px 18px;
  background-color: #9792E4;
  border-radius: 50%;
  border: 1px solid black;
}

/* Testimonials  */
#testimonials {
  padding-bottom: 60px;
}

#testimonials .bio {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

#testimonials .bio h5 {
  font-size: 20px;
  padding: 35px 0;
}

#testimonials .bio h3 {
  font-size: 45px;
  color: #9692E4;
}

#testimonials .bio p {
  font-size: 30px;
  line-height: 50px;
  padding: 35px 0;
}

#testimonials .card {
  margin: 30px 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#testimonials .card .img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
  margin: 25px auto;
  
}

#testimonials .card .name p {
  font-size: 25px;
  padding-bottom: 25px;
  line-height: 40px;
}

#testimonials .card .name h3 {
  font-size: 25px;
  padding-bottom: 40px;
}

/* Benefits  */
#benefits {
  padding-bottom: 60px;
}

#benefits h3 {
  text-align: center;
  color: white;
  font-size: 40px;
  padding: 60px 0;
}

#benefits .squares {
  width: 100%;
}

#benefits .squares .card{
  margin: 30px 0;
}

#benefits .squares .card h2 {
  color: #9692E4;
  font-size: 60px;
  padding-top: 40px;
}

#benefits .squares .card h3 {
  color: #9692E4;
  font-size: 30px;
  padding: 30px 0;
  text-align: start;
}

#benefits .squares .card p {
  font-size: 22px;
  padding-bottom: 30px;
  line-height: 40px;
}

#benefits .squares .card a {
  color: white;
  background-color: #9692E4;
  padding: 10px 45px;
  font-size: 22px;
  border-radius: 20px;
  text-decoration: none;
}

#benefits .squares .card .more {
  padding-bottom: 40px;
}

/* About  */

#about {
  padding: 60px 0;
}

#about .bio {
  width: 100%;
}

#about .bio h2 {
  color: #9692E4;
  font-size: 55px;
  padding-top: 20px;
}

#about .bio p {
  font-size: 22px;
  padding: 30px 0;
  line-height: 50px;
}

#about .card {
  position: relative;
}

#about .card .quotation-marks {
  position: absolute;
  top: 0;
  left: 140px;
  color: #9692E4;
}

#about .card .quotation-marks i {
  font-size: 60px;
}

#about .card .img img {
  width: 180px;
  height: 180px;
  background-color: grey;
  border-radius: 50%;
}

#about .card h4 {
  color: #9692E4;
  font-size: 35px;
  padding: 30px 0;
}

#about .card a {
  color: white;
  background-color: #9692E4;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 22px;
  text-decoration: none;
}

/* Start  */

#start {
  padding: 60px 0;
}

#start .login {
  width: 100%;
  text-align: center;
}

#start .login h5 {
  font-size: 18px;
  color: #D6D5F4;
}

#start .login h4 {
  color: white;
  font-size: 35px;
  padding: 20px 0;
}

#start .login h2 {
  color: #FDC15F;
  font-size: 55px;
  padding: 35px 0;
}

#start .login p {
  color: white;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 40px;
}

#start .login .button {
  color: #9692E4;
  background-color: white;
  padding: 20px 85px;
  border-radius: 40px;
  font-size: 20px;
  text-decoration: none;
}

#start .login .privacy {
  padding: 40px 0;
  font-size: 18px;
}

/* footer  */
footer {
  background-color: #333333;
}

footer p {
  color: white;
  text-align: center;
  padding: 30px 0;
}

footer p a {
  color: #9692E4;
}

/* media query  */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  #application .first {
    display: flex;
    gap: 10px;
  }

  .first .card:first-child {
    width: 203%;
  }

  .first .card:first-child .description {
    text-align: start;
  }

  #application .second {
    display: flex;
    gap: 10px;
  }

  #application .second .card {
    width: calc(100 / 3);
  }

  #planning {
    flex-direction: row;
  }

  #testimonials .card .container {
    display: flex;
    flex-direction: row;
  }

  #testimonials .card .img {
    margin-left: -40px;
  }

  #testimonials .card .name {
    text-align: start;
    padding-top: 60px;
    padding-left: 30px;
  }

  #testimonials .card .name p {
    font-size: 20px;
    line-height: 30px;
  }

  #benefits .squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  #benefits .squares .card {
    width: 48%;
    margin: 0;
  }

  #about .container {
    display: flex;
  }

  #about .bio {
    width: 60%;
  }

  #about .card {
    width: 300px;
    padding-left: 50px;
  }

  #about .card .quotation-marks i {
    position: absolute;
    left: 60px;
  }

  #start .container {
    width: 80%;
  }

  footer .container {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 75%;
  }

  #application .card {
    flex-direction: row;
  }

  .nav .row .menu .hamburgher {
    display: none;
  }

  .nav .row .menu .list-menu {
    display: block;
  }

  .nav .row .menu .hamburgher {
    display: none;
  }

  #application .card .description {
    width: 350px;
  }

  #application .card img {
    width: 250px;
  }

  #application .card .img {
    padding-top: 30px;
    font-size: 70px;
  }

  #application .card h5 {
    font-size: 22px;
    padding: 20px 0;
  }

  #application .card p {
    font-size: 18px;
  }

  #planning .container {
    display: flex;
    padding: 80px 0;
    flex-direction: row;
  }

  #planning .card .container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
  }

  #planning .square {
    padding-right: 50px;
  }

  #planning .card {
    display: flex;
    justify-content: end;
  }

  #testimonials .card .container {
    display: flex;
    flex-direction: row;
  }

  #benefits .squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  #benefits .squares .card {
    width: 32%;
    margin: 0;
  }

  #start .container {
    width: 50%;
  }

  footer .container {
    width: 40%;
  }

}